// TODO BEM SASS 7-1
::-moz-selection,
::selection {
  background-color: $primary;
  color: #ffffff;
}
/****************************************************
* Main content
****************************************************/
main > div#content {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.btn svg {
  width: 24px;
  margin-right: 6px;
}

/****************************************************
* Sidebar
****************************************************/
#sidebar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  margin: 0;
  background: $sc-background-light;
  border-right: 2px solid #ddd;
}

#sidebar-menu .sidebar-brand {
  padding: 0.5em;
  text-align: center;
  background: #e9e9e9;
  border-bottom: 2px solid #ddd;
}

#sidebar-menu .sidebar-brand span {
  font-size: 1.0em;
  font-weight: bold;
  color: $primary;
}

@media (max-width: 767.98px) {
  #sidebar-menu {
    position: inherit;
    border: 0;
    border-bottom: 2px solid #ddd;
  }
}

#sidebar-menu .nav-link svg {
  margin-right: 8px;
  width: 24px;
}

#sidebar-menu a.nav-link {
  color: $sc-dark-grey;
}

#sidebar-menu a.nav-link:hover,
#sidebar-menu a.nav-link.active {
  color: $primary;
}

#sidebar-menu .nav-tabs {
  border: 0;
}

#sidebar-menu .nav-tabs .nav-link {
  border-left: 0;
  border-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#sidebar-menu .sidebar-heading {
  text-transform: uppercase;
  background: #f2f3f5;
  padding: 0.4em;
  font-size: 0.8em;
  line-height: 1em;
}

#status {
  margin: 32px 12px;
  font-size: 1.2em;
  text-align: center;
}

#status li {
  border: 0;
  color: #999999;
  background: none;
  padding: 0;
  font-family: monospace;
  font-size: 0.9em;
}

#status li.status-disconnected {
  display: inline-block;
  background: $sc-danger;
  color: #ffffff;
  padding: 6px 12px 4px 12px;
}

/****************************************************
* Pawn information
****************************************************/
#pawn-information table tbody tr th,
#pawn-appearance-override table tbody tr th {
  width: 125px;
}

/****************************************************
* Etc
****************************************************/
.toast-body {
  background: #ffffff;
}
