// TODO remover $sc-*
$sc-background-light: #f8f9fa;
$sc-dark-grey: #333333;
$sc-secondary-light: #a191e2;
$sc-danger: #de1717;
$sc-box-shadow: rgba(203, 196, 234, 0.7);

// Bootstrap.
$primary: #6545f1;
$secondary: #5439c7;

$font-size-base: 1.2rem;

$spinner-width: 8rem;
$spinner-height: $spinner-width;

// Sweetalert2.
$swal2-confirm-button-background-color: $primary;
